2.1 Jenis fungsi dalam python

In [ ]:
def square(x):
  y=x*x
  return y
square(5)

25

In [ ]:
L=[1,2,3,8,5,98,1,0,-2]
max(L)

98

In [ ]:
def cube(x):
  return x*x*x
cube(10)

1000

In [ ]:
import math
math.sqrt(100)

10.0

2.2 Fungsi sebagai cara untuk modularisasi Algoritma

In [ ]:
n=64
faktors=[]
for i in range(1,n+1):
  if n % i ==0:
    faktors.append(i)
print(faktors)

[1, 2, 4, 8, 16, 32, 64]

In [ ]:
def habis_dibagi(n,i):
  return n % i ==0
def faktor(n):
  temp=[]
  for i in range(1,n+1):
    if habis_dibagi(n,i):
      temp.append(i)
  return temp
faktor(64)

[1, 2, 4, 8, 16, 32, 64]

In [ ]:
faktor(25)

[1, 5, 25]

2.3 Anonymous Function

In [ ]:
def rata(L):
  res=0
  for el in L:
    res= res + el
  res= res / len(L)
  return res
L= [1,2,3,4,5,6,7,8,9,10]
rata(L)

5.5

In [ ]:
rata_lambda= lambda L : sum(L) / len(L)
rata_lambda(L)

5.5

In [ ]:
greet= lambda : 'Hello World'
greet()

'Hello World'

In [ ]:
greet= lambda name, gender: 'Hello ' + ('Mr.' if gender=='M' else 'Ms') + name
greet('Satria', 'M')

'Hello Mr.Satria'

In [ ]:
def helper(L):
  res= 0
  for el in L:
    res= res + el
  return res
rata= lambda L: helper(L) / len(L)
rata(L)

5.5

2.5 Lambda function direct calling

In [ ]:
(lambda x: 'genap' if x%2==0 else 'ganjil') (10)

'genap'

In [ ]:
from functools import reduce

In [ ]:
val= [1,2,3,4,5,6]
list(map(lambda x: x * 2, val))
reduce(lambda x, y: x * y, val)

720

#3. Pemrograman Berbasis Fungsi pada Analisis Data

3.1.1 Data Preprocessing dengan pemrograman preosedural

In [ ]:
import pandas as pd
import numpy as np
np.random.seed(42)

def create_random_dataframe(nb_rows=1000, percent_na_per_column=[0.01, 0.1, 0.9]):
  df= pd.DataFrame()
  for i, percent_na in enumerate(percent_na_per_column):
    values= [np.random.random() if np.random.random() > percent_na else np.nan for _ in range(nb_rows)]
    df[f'val_{i}']= values
  df.index= pd.date_range('2023/02/14', periods= nb_rows, freq= 'H')
  return df
 
def preprocess(df, na_percentage= 0.2, resampling_str= '2H'):
  na_df= df.isna().sum() / len(df)
  list_col_to_keep= na_df[na_df < na_percentage].index
  df= df[list_col_to_keep]

  df= df.resample(resampling_str).mean()
  df= df.interpolate().ffill().bfill()
  return df

random_df= create_random_dataframe()
res= preprocess(random_df)
res

                        val_0     val_1
2023-02-14 00:00:00  0.774686  0.147131
2023-02-14 02:00:00  0.511085  0.362957
2023-02-14 04:00:00  0.838991  0.261706
2023-02-14 06:00:00  0.197872  0.589102
2023-02-14 08:00:00  0.407993  0.257553
...                       ...       ...
2023-03-27 06:00:00  0.674888  0.433584
2023-03-27 08:00:00  0.685168  0.515360
2023-03-27 10:00:00  0.822288  0.125944
2023-03-27 12:00:00  0.281785  0.827302
2023-03-27 14:00:00  0.612985  0.362622

[500 rows x 2 columns]

3.1.2 Data Preprocessing dengan pemrograman fungsi

In [ ]:
import pandas as pd
import numpy as np
np.random.seed(42)

def create_random_dataframe(nb_rows=1000, percent_na_per_column=[0.01, 0.1, 0.9]):
  df= pd.DataFrame()
  for i, percent_na in enumerate(percent_na_per_column):
    values= [np.random.random() if np.random.random() > percent_na else np.nan for _ in range(nb_rows)]
    df[f'val_{i}']= values
  df.index= pd.date_range('2023/02/14', periods= nb_rows, freq= 'H')
  return df

def create_col_with_too_many_nas_remover(na_percentage= 0.2):
  def remover(df):
    na_df= df.isna().sum() / len(df)
    list_col_to_keep= na_df[na_df < na_percentage].index
    return df[list_col_to_keep]
  return remover

def create_resampler(resampling_str):
  def resampler(df):
    return df.resample(resampling_str).mean()
  return resampler

def fill_na(df):
  return df.interpolate().ffill().bfill()

random_df= create_random_dataframe()
remover= create_col_with_too_many_nas_remover()
resampler= create_resampler('2H')
res= fill_na(resampler(remover(random_df)))
res

                        val_0     val_1
2023-02-14 00:00:00  0.774686  0.147131
2023-02-14 02:00:00  0.511085  0.362957
2023-02-14 04:00:00  0.838991  0.261706
2023-02-14 06:00:00  0.197872  0.589102
2023-02-14 08:00:00  0.407993  0.257553
...                       ...       ...
2023-03-27 06:00:00  0.674888  0.433584
2023-03-27 08:00:00  0.685168  0.515360
2023-03-27 10:00:00  0.822288  0.125944
2023-03-27 12:00:00  0.281785  0.827302
2023-03-27 14:00:00  0.612985  0.362622

[500 rows x 2 columns]

Tugas individu: Analisis skrip code diatas sebelumm dan sesudah di transformasi menjadi functional programming.

Jawab: dengan prosedural programming program diatas lebih terstruktur, dan jika dengan functional programming lebih banyak membuat fungsi didalamnya, semuanya dibuat fungsi terlebih dahulu terus kita panggil fungsi tersebut baru di eksekusi

3.1.3 Bagaimana mengubah prosedural programming ke functional programming

In [ ]:
starting_number= 96
square= starting_number ** 2
increment= square + 1
cube= increment ** 3
decrement= cube - 1
result= print(decrement)

783012621312

In [ ]:
def call(x, f):
  return f(x)
square= lambda x: x*x
increment= lambda x: x + 1
cube= lambda x: x*x*x
decrement= lambda x: x - 1
funcs= [square, increment, cube, decrement]

from functools import reduce
print(reduce(call, funcs, 96))

783012621312